Downloads
Public
Movies
Music
Pictures
Dropbox*
Library
Documents
Desktop
Applications
go/
go1.*/
code/
.viminfo
.bash_history/*
.lesshst
.netrc
.docker
.npm/*
.gem
.bash_sessions
.bash_history
.terraform.d
.heroku
.bundle
.dropbox
.gnupg/
.parallel/tmp/
.ssh/*
!.ssh/config
.vim/plugged/
node_modules
.Trash
.aws/cli/cache
.apex
.CFUserTextEncoding
.vim/.netrwhist
.node_repl_history
.gpg-agent-info
.cups
!.config/
.config/*
!.config/git/
.node-gyp
.pwntools-cache/
.m2
.oracle_jre_usage
.yarnrc
.account
.python_history
.soapuios
soapui-settings.xml
SoapUI-Tutorials
.tor
.npmrc
