*.DS_Store
*.sw[nop]
Downloads
Public
Movies
Music
Pictures
Dropbox*
Library
Documents
Desktop
Applications
go/
code/
.viminfo
.bash_history/*
.aws/credentials
.lesshst
.netrc
.docker
.npm/*
.gem
.config/hub
.bash_sessions
.bash_history
.terraform.d
.heroku
.bundle
.dropbox
.gnupg/
.parallel/tmp/
.ssh/*
!.ssh/config
.vim/plugged/
