Downloads
Public
Movies
Music
Pictures
Dropbox*
Library/*
!Library/LaunchAgents/*
Documents
Desktop
Applications
go/
go1.*/
code/
.viminfo
.bash_history/*
.lesshst
.netrc
.docker/machine/cache/*
.docker/machine/machines/local/*
.npm/*
.gem
.bash_sessions
.bash_history
.terraform.d
.heroku
.bundle
.dropbox
.gnupg/
.parallel/tmp/
.ssh/*
!.ssh/config
.vim/plugged/
node_modules
.Trash
.aws/cli/cache
.apex
.CFUserTextEncoding
.vim/.netrwhist
.node_repl_history
.gpg-agent-info
.cups
!.config/
.config/*
!.config/brew.lock
!.config/git/
!.config/ssh/
!.config/geoip/
.node-gyp
.pwntools-cache/
.m2
.oracle_jre_usage
.yarnrc
.account
.python_history
.soapuios
soapui-settings.xml
SoapUI-Tutorials
.tor
.npmrc
VirtualBox VMs/
Mail/*
.kr/*
.offlineimap/*
bin/*
.nvm
.vault-token*
.ipfs
.mitmproxy
.ecr
.electron
.geoip
.password-store
.helm
.kube
.minikube
.erlang.cookie
.config/git/hooks/*
.android
.gradle
.zoomus
goroot
.op
.gist
.psql_history
Google\ Drive*
.openvpn-connect.json
.aws/saml_cache.xml
.vagrant.d
.spark
.aws/saml_cache*
.bzr.log
.dbt
.circleci/update_check.yml
